@import "react-slideshow-image/dist/styles.css";

* ::-webkit-scrollbar{
  overflow-x: hidden;
  display: none;
}
a{
  color: white;
  text-decoration: underline;
}
.Home {
  text-align: center;
}
.Login {
  text-align: center;
}
.Account {
  text-align: center;
}

.Site-logo {
  height: 40vmin;
  pointer-events: none;
}
/*Source of logo*/
/*https://cutewallpaper.org/24/key-clipart-png/view-page-24.html*/


@media (prefers-reduced-motion: no-preference) {
  .image1 {
    animation: swing infinite 4s linear;
    height: 200px;
    width: 200px;
  }
}
.image2 {
  height: 200px;
  width: 200px;
}
.image3 {
  height: 200px;
  width: 200px;
}
.image4 {
  height: 200px;
  width: 200px;
}
table {
  width: 100%;
}
h1 {
  text-align: center;
}

#myForm{
  background-color: rebeccapurple;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.Body {
  background-color: mediumpurple;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
p{
  font-size: calc(10px + 2vmin);
}
.column {
  float: left;
  /*float: bottom;*/
  /*float: right;*/
  width:  33.33%;
}
.left {
  width: 60%;
}

.middle {
  width: 60%;
}

.right {
  width: 60%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.Footer {

  background-color: mediumpurple;
  min-height: 20vh;
  color: white;
}

#sign-up-link{
  text-decoration: none;
  color: white;
}
#back-to-login{
  text-decoration: none;
  color: white;
}
.Links {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: auto;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;

}
.Back a{
  display: flex;
  text-decoration: none;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-top: auto;
  justify-content: center;
  font-size: calc(4px + 2vmin);
  color: white;
}
ul {
  list-style-type: none;

}
li {
  float: left;
}
li a {
  display: block;
  text-decoration: none;
  padding: 20px;
  color: white;
}

.Home-link {
  color: #61dafb;
}
.ApartmentsWebsite{
  overflow-y: hidden;

}
.ApartmentsWebsite .Sites{
  width: 100%;
  height: 100%;
}
.ApartmentsWebsite .image1 {
  width: 75px;
  height:75px;
}
.ApartmentsWebsite .links {
  height: 130px;
  overflow-y: hidden;
}
.each-slide > div{
  display: flex;
  height: 500px;
  align-items: center;
  justify-content:  center;
  background-size: contain;

}
.each-slide span{
  color: white;
  font-size: 10em;
}
/*.each-slide > div {*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  background-size: cover;*/
/*  height: 300px;*/
/*}*/

#site{
  display: block;
  width: 100%;
  height: 1000px;
  background: mediumpurple;
}

@keyframes swing {
    0%{transform: rotate(3deg)}
    50%{transform: rotate(-3deg);}
    100%{transform: rotate(3deg);}


}
